@page "{ID}"
@model Meum.Pages.SletVareModel
@{
}

<h1>Slet Vare</h1>
<h3>Er du sikker på du ønsker det slettet?</h3>

<form method="post">
    <div>
        <input type="submit" value="Slet" class="btn btn-danger" />
    </div>
</form>



<div>
    <a asp-page="Lager">Tilbage</a>
</div>