@page "{id}"
@model Meum.Pages.SletProduktModel
@{
}
<h1>Slet Produkt</h1>
<h3>Er du sikker på du ønsker det slettet?</h3>

<form method="post">
    <div>
        <input type="submit" value="Slet" class="btn btn-danger" />
    </div>
</form>



<div>
    <a asp-page="Produkter">Tilbage</a>
</div>
