<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #D3BFA6;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-family: roxborough bold;
                font-size: 30px;
            }

                li a:hover:not(.active) {
                    background-color: #EDE1CE;
                    ;
                }

        .active {
            background-color: #4E3927;
        }
    </style>
</head>
@*--------------------------BOOOOOODY---------------------------------------------*@
<body>
    <header>

        
        <ul>
            <li><div><a class="active" asp-page="/Oversigt">Oversigt</a></div></li>
            <li><div><a asp-page="/Forsendelser">Forsendelser</a></div></li>
            <li><div><a asp-page="/Enhed/Lager">Lager</a></div></li>
            <li><div><a asp-page="/Produkt/Produkter">Produkter</a></div></li>
            <li><div><a asp-page="/Kunde/Kunderview">Kunder</a></div></li>
            <li style ="float:right"><div><a asp-page="Logud">Log ud</a></div></li>
            

        </ul>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Meum - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>